$cardWidthRatio : 68 / 100; 
$deckSize: 56;

.card {
    width: 100%;
    
    @for $i from 1 through $deckSize {
        $card_path: '../assets/img/cards/' + $i + '.png';
        .card-img-#{$i} {
            height: 100%;
            background-image: url($card_path);
            background-size: contain;
            background-position:center center;
            background-repeat:no-repeat;
            filter:contrast(130%);
        }
    }
}
