@import './Card';
@import './Road';
@import './Action';
@import './Heroes';

$cardHeight : 200px;
$roadHeight : 150px;

.game {
    width:100%;
    display: flex;
    flex-direction: column;
    
    
    .game-info {
        width: 100%;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .road {
            width: 900px;
            height: $roadHeight;
        }

        .deck {
            width: 10%;
        }

        .time-token {
            width: 100px;
        }

        .stocks {
            width: 20%;
            display: flex;
            flex-direction: row;

            .stock {
                width: 50%;
            }
        }

        .heroes {
            width: 40%;
            height: $roadHeight;

            display: flex;
            flex-direction: row;
            
            .hero {
                width: 1/3 * 100%;
            }
        }

        .kept-card-list {
            width: 40%;
            display: flex;
            flex-direction: row;
            
            .kept-card {
                width: 100%;
            }
        }
    }

    .hand, .play-zone-cards-played {
        width:100%;
        min-width:100%;
        height: $cardHeight + 20px;
        min-height: $cardHeight + 20px;
        border: 1px black solid;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .hand-must-play-card {
        border: 3px solid green;
        width: 1 / 6 * 100%;
    }

    .resolution-box{
        .resolution-box-card{
            width:100%;
        }
    }
}